/* 자동차 바퀴 애니메이션 */
@keyframes tierRotate {
    0% {transform: rotate(0); }
    100% {transform: rotate(360deg); }
} 
/* 배경 이동 애니메이션 */
@keyframes leftMove {
    0% {background-position-x: 0;}
    100% {background-position-x: 1000px;}
}